<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <%=title %>
    <h1>Index.ejs</h1>
    <p>これは、Indexページです</p>
    <p><a href="./other">other.js</a></p>
  </body>
</html>
